doctype html
<html lang='ru'>
head
	meta(charset="utf-8")
	meta(name="viewport",content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimal-ui")
	meta(name="apple-mobile-web-app-capable", content="yes")
	meta(name="mobile-web-app-capable", content="yes")
	meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
	title Supermerkado.ru
<body style="display: none">

#nav
	ul
		li
			a
				span.icon
					include ../../../public_html/layout/images/svg/novinki.svg
				span.text Новинки
		li
			a
				span.icon
					include ../../../public_html/layout/images/svg/rasprodaza.svg
				span.text Распродажа
		li
			a
				span.icon
					include ../../../public_html/layout/images/svg/elektronika.svg
				span.text Электроника
		li
			a
				span.icon
					include ../../../public_html/layout/images/svg/bytovaya-tekhnika.svg
				span.text Бытовая техника
		li
			a
				span.icon
					include ../../../public_html/layout/images/svg/dom-i-interer.svg
				span.text Дом и интерьер
		li
			a
				span.icon
					include ../../../public_html/layout/images/svg/kukhnia.svg
				span.text Кухня
		li
			a
				span.icon
					include ../../../public_html/layout/images/svg/riukzak.svg
				span.text Рюкзаки
		li
			a.active
				span.icon
					include ../../../public_html/layout/images/svg/aksessuary.svg
				span.text Аксессуары
		li
			a
				span.icon
					include ../../../public_html/layout/images/svg/odezhda-i-aksessuary.svg
				span.text Одежда
		li
			a
				span.icon
					include ../../../public_html/layout/images/svg/igry-i-khobbi.svg
				span.text Игры и хобби
		li
			a
				span.icon
					include ../../../public_html/layout/images/svg/podarki.svg
				span.text Подарки
		li
			a
				span.icon
					include ../../../public_html/layout/images/svg/sport-i-otdykh.svg
				span.text Спорт и отдых
		li
			a
				span.icon
					include ../../../public_html/layout/images/svg/krasota-i-zdorove.svg
				span.text Красота и здоровье
		li
			a
				span.icon
					include ../../../public_html/layout/images/svg/eko-tovary.svg
				span.text ЭКО товары
		li
			a.last
				span.icon
					include ../../../public_html/layout/images/svg/avtoliubitelyam.svg
				span.text Автолюбителям
		li
			a.gray
				span.text Способы оплаты
		li
			a.gray
				span.text Способы доставки
		li
			a.gray
				span.text Сервисная информация

#profile.block.popup
	.bar
		.container-fluid
			.row
				.col-xs-12.center
					span.title Личный кабинет
	.content
		.elements
			.switcher
				a(href="#login").left.active Вход
				a(href="#signup").right Регистрация
			#login.item.active.switch-item
				input(type="text", placeholder="Эл. почта")
				input(type="password", placeholder="Пароль")
				input(type="submit", value="Войти")
			#signup.item.switch-item
				input(type="text", placeholder="Фамилия Имя Отчество")
				input(type="text", placeholder="Эл. почта")
				input(type="text", placeholder="Номер телефона")
				input(type="password", placeholder="Пароль")
				input(type="password", placeholder="Подтверждение")
				input(type="submit", value="Зарегистрироваться")

#contacts.block.popup
	.bar
		.container-fluid
			.row
				.col-xs-12.center
					span.title Контакты
	.content
		.elements
			a.center.phone(href="tel:88003339253") 8 800 333 92 53
			a.mail(href="mailto:info@supermerkado.ru") info@supermerkado.ru
			.address г. Москва, ул. Николоямская, д. 49, ст. 5
			.social.center
				a
					include ../../../public_html/layout/images/svg/vk.svg
				a
					include ../../../public_html/layout/images/svg/fb.svg
				a
					include ../../../public_html/layout/images/svg/gp.svg
				a
					include ../../../public_html/layout/images/svg/is.svg
				a
					include ../../../public_html/layout/images/svg/lj.svg
			script(src="//api-maps.yandex.ru/2.1/?lang=ru_RU&load=package.full", type="text/javascript")
			#map

#cart.block.popup
	.bar
		.container-fluid
			.row
				//	.col-xs-4
						a.back(href="#")
							include ../../../public_html/layout/images/svg/back.svg
							span.text Назад
				.col-xs-4.col-xs-offset-4.center
					span.title Корзина
	.content
		.elements
			each item in products
				.item
					.color
						include ../../../public_html/layout/images/svg/corner.svg
					.row
						.col-xs-4.center
							.image(style="background-image:url(#{item.image}); #{item.bsize ? 'background-size: cover' : ''}")
						.col-xs-8
							.text
								span #{item.name}
					.row.action
						.col-xs-4.center
							a.minus(href="#")
								include ../../../public_html/layout/images/svg/minus.svg
							.count 1
							a.plus(href="#")
								include ../../../public_html/layout/images/svg/plus.svg
						.col-xs-4
							.price.center
								span &times; #{item.price}
								include ../../../public_html/layout/images/svg/currency2.svg
						.col-xs-4.right
							.total.right
								span = #{item.price}
								include ../../../public_html/layout/images/svg/currency2.svg
								
	.bottom-fade
		input(type="text", placeholder="У меня есть купон на скидку	").order
		.row
			.col-xs-6 
				.total
					span 123 000
					include ../../../public_html/layout/images/svg/currency2.svg
			.col-xs-6.right
				a.toggle.cart(href="#order")
					include ../../../public_html/layout/images/svg/order.svg
					span Оформить заказ 

#order.block.popup
	.bar
		.container-fluid
			.row
				.col-xs-2
					a.back(href="#")
						include ../../../public_html/layout/images/svg/back.svg
				.col-xs-8.center
					span.title Оформление заказа
	.content
		.elements
			.switcher
				a(href="#full-order").left.active Полная форма
				a(href="#short-order").right Оформить в 1 клик
			#full-order.active.switch-item
				.title.first Информация о покупателе
				.user-info
					.item
						input(type="text", placeholder="Фамилия Имя Отчество")
						input(type="text", placeholder="Город")
						input(type="text", placeholder="Адрес")
						input(type="email", placeholder="Электронная почта")
						input(type="tel", placeholder="Номер телефона")
				.delivery
					.title Служба доставки
					.item
						.row
							.col-xs-2
								input(type="radio", name="delivery", checked)#i1
							.col-xs-10
								label(for="i1")
									h3 Multiship (СДЭК)
									p
										| Стоимость: 255.00 руб. <br> Срок доставки (дней): 3 дн 
						.row
							.col-xs-2
								input(type="radio", name="delivery")#i2
							.col-xs-10
								label(for="i2")
									h3 Multiship (Курьер Сервис Экспресс)
									p
										| Стоимость: 481.00 руб.<br>Срок доставки: 3 дн 
						.row
							.col-xs-2
								input(type="radio", name="delivery")#i3
							.col-xs-10
								label(for="i3")
									h3 Multiship (Самовывоз)
									p
										| Стоимость: 255.00 руб. <br> Срок доставки (дней): 3 дн 
				.money
					.title Системы оплаты
					.item
						.row
							.col-xs-2
								input(type="radio", name="money", checked)#z1
							.col-xs-10
								label(for="z1").center
									include ../../../public_html/layout/images/svg/webmoney.svg
						.row
							.col-xs-2
								input(type="radio", name="money")#z2
							.col-xs-10
								label(for="z2").center
									include ../../../public_html/layout/images/svg/yandex.svg
						.row
							.col-xs-2
								input(type="radio", name="money")#z3
							.col-xs-10
								label(for="z3").center
									include ../../../public_html/layout/images/svg/card.svg
						.row
							.col-xs-2
								input(type="radio", name="money")#z4
							.col-xs-10
								label(for="z4").center
									include ../../../public_html/layout/images/svg/qiwi.svg
				.title Дополнительная информация
				.item
					textarea
			#short-order.switch-item
				.title.first Информация о покупателе
				.user-info
					.item
						input(type="text", placeholder="Фамилия Имя Отчество")
						input(type="tel", placeholder="Номер телефона")
			a.order
				include ../../../public_html/layout/images/svg/order.svg
				span Оформить заказ 

#product.block.popup
	.bar
		.container-fluid
			.row
				.col-xs-4
					a.back(href="#")
						include ../../../public_html/layout/images/svg/back.svg
						span.text Назад
				.col-xs-4.center
					span.title Товар
	.content
		.elements
			.fotorama(data-width="100%", data-height="270px", data-nav="false")
				.item(style="background-image: url(/layout/images/tmp/pb-2.png)") &nbsp;
				.item(style="background-image: url(/layout/images/tmp/pb-1.png)") &nbsp;
			.description
				h1
					| Мягкая игрушка-подушка Dooodolls Doo Third Eye, размер 60 см
				.price
					.row
						.col-xs-5
							.current
								span
									| 13 123
									include ../../../public_html/layout/images/svg/currency2.svg
						.col-xs-7
							a.order
								include ../../../public_html/layout/images/svg/tocart.svg
								span Добавить в корзину
				.colors
					a.item.active(style="background-color: #f5a623")
					a.item(style="background-color: #f8e71c")
					a.item(style="background-color: #7ed321")
					a.item(style="background-color: #50e3c2")
					a.item(style="background-color: #9b9b9b")
					a.item(style="background-color: #ffffff;border-color:#c0c0c0")
					a.item(style="background-color: #1096e0")
					a.item(style="background-color: #6350e3")
					a.item(style="background-color: #bd10e0")
					a.item(style="background-color: #e35064")
					a.item(style="background-color: #dbe010")
				.sizes
					a.item.active Универсальный
					a.item SX
					a.item 32-34
					a.item 38-42
					a.item 42-46
					a.item 48-50
			.text
				h2 У вас ваза светится!
				p Потому что, это оригинальный светильник выполнен в виде вазы. Он может работать день и ночь, не уставая и не перегорая. Достаточно его немного встряхнуть, чтобы он загорелся. Компактный, легкий и очень красивый светильник продается в интернет-магазине supermerkado.ru. Его можно поставить в любой комнате, но лучше всего он будет смотреться в спальне. 
	.bottom-fade
		a.order.toggle(href="#order").one-click
			include ../../../public_html/layout/images/svg/order.svg
			span Купить в 1 клик